<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration </title>
</head>
<body>
<h1> memberDTO info</h1>
<table border="1" width="50%" height="50px">
    <tr>
        <td><span th:text="${memberDTO.seq}"></span></td>
        <td><span th:text="${memberDTO.id}"></span></td>
        <td><span th:text="${memberDTO.name}"></span></td>
        <td><span th:text="${memberDTO.email}"></span></td>
    </tr>
</table>
<a th:href="@{'/memberDTOS/' + ${memberDTO.seq} + '/upform'}">update</a>
<a th:href="@{'/memberDTOS/' + ${memberDTO.seq} + '/delform'}">delete</a>
<a th:href="@{'/memberDTOS/' }">list</a>
</body>
</html>